#page-course-view-masonry ul.masonry {
    margin: auto auto;
}

#page-course-view-masonry .masonry-brick {
    background-color: transparent;
    border: 1px solid black;
    width: auto;
}

#page-course-view-masonry .coursecontentmasonry #completionprogressid {
    display: none;
}

#page-course-view-masonry .coursecontentmasonry .activity-item {
    border: 0 solid transparent;
    padding: 1px;
}

#page-course-view-masonry .coursecontentmasonry .summary {
    overflow: visible;
    padding-bottom: 0;
}

#page-course-view-masonry .admin_colourpicker .previewcolour,
#page-course-view-masonry .admin_colourpicker .currentcolour,
#page-course-view-masonry .admin_colourpicker .colourdialogue {
    border-color: #9a9b9c;
}

#page-course-view-masonry .course-content .mod-indent-1,
#page-course-view-masonry .course-content .mod-indent-2,
#page-course-view-masonry .course-content .mod-indent-3,
#page-course-view-masonry .course-content .mod-indent-4,
#page-course-view-masonry .course-content .mod-indent-5,
#page-course-view-masonry .course-content .mod-indent-6,
#page-course-view-masonry .course-content .mod-indent-7,
#page-course-view-masonry .course-content .mod-indent-8,
#page-course-view-masonry .course-content .mod-indent-9,
#page-course-view-masonry .course-content .mod-indent-10,
#page-course-view-masonry .course-content .mod-indent-11,
#page-course-view-masonry .course-content .mod-indent-12,
#page-course-view-masonry .course-content .mod-indent-13,
#page-course-view-masonry .course-content .mod-indent-14,
#page-course-view-masonry .course-content .mod-indent-15,
#page-course-view-masonry .course-content .mod-indent-huge {
    margin-left: 0;
}


#page-course-view-masonry .coursecontentmasonry .p {
    white-space: normal;
}

#page-course-view-masonry .coursecontentmasonry .mod-indent {
    padding-left: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1em;
}

#page-course-view-masonry .course-section-header {
    white-space: nowrap;
}

#page-course-view-masonry .availabilityinfo {
    background-color: transparent;
}