{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_masonry/course

    This template renders the full course.

    Example context (json):
    {
        "initialsection": {
                "num": 0,
                "id": 34,
                "cmlist": {
                    "cms": [
                        {
                            "cmitem": {
                                "cmformat": {
                                    "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Forum example</span></a>",
                                    "hasname": "true"
                                },
                                "id": 3,
                                "module": "forum",
                                "extraclasses": "newmessages"
                            }
                        }
                    ],
                    "hascms": true
                },
                "iscurrent": true,
                "summary": {
                    "summarytext": "Summary text!"
                }
            },
        "sections": [
            {
                "num": 1,
                "id": 35,
                "borderwidth": 1,
                "bordercolor": "#FFF",
                "backgroundcolor": "#000",
                "contentcollapsed": true,
                "header": {
                    "name": "Section title",
                    "url": "#"
                },
                "cmlist": {
                    "cms": [
                        {
                            "cmitem": {
                                "cmformat": {
                                    "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Another forum</span></a>",
                                    "hasname": "true"
                                },
                                "id": 3,
                                "module": "forum",
                                "extraclasses": "newmessages"
                            }
                        }
                    ],
                    "hascms": true
                },
                "iscurrent": true,
                "summary": {
                    "summarytext": "Summary text!"
                }
            },
            {
                "num": 4,
                "id": 36,
                "header": {
                    "name": "Section 2 title",
                    "url": "#"
                },
                "cmlist": {
                    "cms": [
                        {
                            "cmitem": {
                                "cmformat": {
                                    "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Forum example</span></a>",
                                    "hasname": "true"
                                },
                                "id": 5,
                                "module": "forum",
                                "extraclasses": "newmessages"
                            }
                        }
                    ],
                    "hascms": true
                },
                "iscurrent": true,
                "summary": {
                    "summarytext": "Summary text!"
                }
            }
        ],
        "format": "topics",
        "title": "Course title example",
            "hasnavigation": true,
            "sectionnavigation": {
            "hasprevious": true,
            "previousurl": "#",
            "larrow": "&#x25C4;",
            "previousname": "Section 3",
            "hasnext": true,
            "rarrow": "&#x25BA;",
            "nexturl": "#",
            "nextname": "Section 5"
        },
        "sectionselector": {
            "hasprevious": true,
            "previousurl": "#",
            "larrow": "&#x25C4;",
            "previousname": "Section 3",
            "hasnext": true,
            "rarrow": "&#x25BA;",
            "nexturl": "#",
            "nextname": "Section 5",
            "selector": "<select><option>Section 4</option></select>"
        },
        "borderwidth": 1,
        "bordercolor": "#FFF",
        "sectionreturn": 1,
        "singlesection": {
            "num": 1,
            "id": 35,
            "header": {
                "name": "Single Section Example",
                "url": "#"
            },
            "cmlist": {
                "cms": [
                    {
                        "cmitem": {
                            "cmformat": {
                                "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Assign example</span></a>",
                                "hasname": "true"
                            },
                            "id": 4,
                            "module": "assign",
                            "extraclasses": ""
                        }
                    }
                ],
                "hascms": true
            },
            "iscurrent": true,
            "summary": {
                "summarytext": "Summary text!"
            }
        }
    }
}}
<div id="course-format-{{uniqid}}" style="margin: 0 0 0 -60px; display: flow; position: absolute; max-width: 893px; width: 100%; flex-shrink: 0">
    <ul class="masonry" style="max-width: 893px;">
        {{#sections}}
        <li id="section-{{num}}" class="masonry-brick m-2 p-2 rounded course-section main clearfix"
            style="position: absolute; border-width: {{borderwidth}}px; border-color: {{bordercolor}}; background-color: {{backgroundcolor}}">
            <div class="course-section-header">
                {{#header}}
                    {{$ core_courseformat/local/content/section/header }}
                        {{> core_courseformat/local/content/section/header }}
                    {{/ core_courseformat/local/content/section/header }}
                    {{#controlmenu}}
                        {{$ core_courseformat/local/content/section/controlmenu }}
                            {{> core_courseformat/local/content/section/controlmenu }}
                        {{/ core_courseformat/local/content/section/controlmenu }}
                    {{/controlmenu}}
                    {{#summary}}
                        {{$ core_courseformat/local/content/section/summary }}
                            {{> core_courseformat/local/content/section/summary }}
                        {{/ core_courseformat/local/content/section/summary }}
                    {{/summary}}
                    {{#availability}}
                        {{$ core_courseformat/local/content/section/availability }}
                            {{> core_courseformat/local/content/section/availability }}
                        {{/ core_courseformat/local/content/section/availability }}
                    {{/availability}}
                {{/header}}
            </div>
            <div class="course-content">
                {{#cmlist}}
                    {{$ core_courseformat/local/content/section/cmlist }}
                        {{> core_courseformat/local/content/section/cmlist }}
                    {{/ core_courseformat/local/content/section/cmlist }}
                {{/cmlist}}
                {{{cmcontrols}}}
            </div>
        </li>
        {{/sections}}
    </ul>
</div>
